@use '../utils' as vars;

$input-gap: 20;

form {
	&.form_auth {
		max-width: vars.rem(610);
		@include vars.flexer(center, center);
		flex-wrap: wrap;
		padding: vars.rem(40);
		gap: vars.rem($input-gap);
		margin: 0 auto;
	}

	.form_title {
		width: 100%;
		color: vars.$dark-green;
		text-align: center;
		text-transform: capitalize;
	}

	.form_widget {
		display: flex;
		flex-direction: column;
		gap: vars.rem(10);
		width: 100%;
	}

	.form_half {
		width: 100%;
		@include vars.flexer(start, start);
		flex-wrap: wrap;
		gap: vars.rem(15);
	}

	.form_half_item {
		width: auto;
		flex: 1;
	}
}
