@use './utils' as vars;
@import './utils/boilerplates';
@import './components/index';
@import "./pages/index";

.container {
    width: 100%;
    height: 100%;
    padding: 0 vars.rem(104);

    @include vars.media(tablet-wide, max) {
        padding: 0 vars.rem(30);
    }
}
