<header class="default">
	<a href="/">
		<img src="{{ asset("images/logo.svg") }}" alt="logo" />
	</a>

	<nav>
		<label for="burger">
			<i data-lucide="menu" class="nav_burger"></i>
		</label>

		<input type="checkbox" id="burger" />

		<div class="nav_links">
			<a href="/doctor">
			<button class="btn_primary btn_upper reg-bold">are you a professional ?</button>
			</a>
			<a href="/register">
				<button class="btn_secondary btn_upper reg-bold">Register</button>
			</a>
		</div>
	</nav>
</header>